    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }


    .flex {
        display: flex;
        /* gap: 60px; */

    }

    body {

        background-color: #000000;

        height: 100vh;
    }

    .interface {
        margin: 0 auto;
        max-width: 1280px;
    }

    h2.titulos {
        color: #ffffff;
        font-size: 38px;
        text-align: center;

    }

    /* Estolo cabecalio */


    header {
        background-color: #000000;

        padding: 40px 4%;
    }

    header .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        color: #aa9c9c;
        text-decoration: none;
        display: inline-block;

    }

    header a:hover {
        color: #ffffff;
        text-decoration: none;
        transform: scale(1.05);


    }

    header nav ul {
        list-style: none;

    }

    header nav ul li {
        display: inline-block;
        padding: 0 40px;
    }

    header h1 {

        color: rgb(0, 191, 255);

    }

    .btn-contato button {
        background-color: rgb(0, 191, 255);
        color: #ffffff;
        font-size: 20px;
        font-weight: 60px;
        padding: 10px 25px;
        border-radius: 30px;
        cursor: pointer;

    }

    .btn-contato button:hover {
        background-color: white;
        color: rgb(0, 191, 255);
        box-shadow: 0 0 30px rgb(0, 191, 255);
        font-size: 20px;
        font-weight: 60px;
        padding: 10px 25px;
        transform: scale(1.05);
        transition: 1.0s;
    }

    /* Estilo do topo do site  */

    section.topo-site {

        padding: 40px 4%;

    }

    section.topo-site .flex {
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .topo-do-site .txt-topo-site h1 {
        color: #ffffff;
        font-size: 40px;
        line-height: 120px;

    }

    .topo-do-site .txt-topo-site p {
        color: #ffffff;
        margin: 40px 0;
        font-size: 30px;


    }

    .topo-do-site .img-topo-site img {
        width: 350px;
        border-radius: 100%;
        animation: flutuar 5s ease-in-out infinite;
    }

    @keyframes flutuar {

        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0px);
        }
    }


    /*  Especialidades  */

    .especialidades {

        padding: 100px 4%;

    }

    .especialidades .flex {

        gap: 100px;
    }




    .especialidades .especialidades-box {
        color: #ffffff;
        padding: 40px;
        margin-top: 45px;
        border-radius: 25px;
        transition: 1.0s;

    }

    .especialidades .especialidades-box:hover {
        transform: scale(1.05);
        border: 2px solid rgba(0, 191, 255, 0.522);


    }

    .especialidades .especialidades-box h3 {
        font-size: 28px;
        margin: 15px 0;

    }

    .especialidades .especialidades-box p {
        font-size: 28px;
        margin: 15px 0;

    }

    .especialidades #java i {
        font-size: 80px;
        margin-bottom: 20px;
        color: rgb(255, 157, 0);
    }


    .especialidades #cshap i {
        font-size: 80px;
        margin-bottom: 20px;
        color: rgb(166, 0, 255);
    }

    .especialidades #c i {
        font-size: 80px;
        margin-bottom: 20px;
        color: rgb(166, 0, 255);
    }


    /* ESTILO DO SOBRE  */
    .sobre {
        padding: 100px 4%;

    }

    .sobre .flex {

        gap: 60px;
        align-items: center;

    }

    .sobre .img-sobre img {
        width: 300px;
        border-radius: 20px;

    }

    .sobre .txt-sobre {

        color: #ffffff;
        font-size: 20px;
    }

    .sobre .txt-sobre h2 {

        font-size: 40px;
        margin-bottom: 30px;
        line-height: 40px;
    }

    .sobre .txt-sobre h2 samp {
        display: block;
        color: rgb(0, 191, 255);
    }

    .sobre .txt-sobre p {
        margin-bottom: 20px 0px;
        text-align: justify;


    }

    .sobre .txt-sobre .btn-rede-sociais button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 191, 255);
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin: 10px 4px;
    }

    .sobre .txt-sobre .btn-rede-sociais button:hover {

        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 191, 255);
        font-size: 20px;
        cursor: pointer;
        margin: 10px 4px;
        transform: scale(1.05);
        transition: 1.0s;
    }

    /* PROJETOS */

    section.portfolio {
        padding: 100px 4%;
        box-shadow: 0 0 30px rgb(0, 191, 255);
        margin-bottom: 100px;
    }

    section.portfolio .flex {
        justify-content: space-around;
        gap: 50px;
    }

    /* ==== CARDS ==== */
    section.portfolio .portfolio-box {
        background-color: white;
        color: rgb(0, 0, 0);
        padding: 40px;
        margin-top: 35px;
        border-radius: 25px;
        cursor: pointer;

        /* Ajustes para ficarem do mesmo tamanho */
        width: 450px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* HOVER */
  

    /* ==== IMAGENS IGUAIS ==== */
    section.portfolio .portfolio-box img {
        width: 0%;
        height: 0px;
        object-fit: cover;
        border-radius: 15px;
    }


    section.portfolio .portfolio-box button {
        background-color: rgb(0, 191, 255);
        color: #ffffff;
        font-size: 20px;
        font-weight: 60px;
        padding: 10px 25px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
    }

    section.portfolio .portfolio-box button:hover {
        background-color: rgb(0, 191, 255);
        color: #ffffff;
        transform: scale(1.05);
        transition: 1.0s;
    }