body{
font-family: Arial, sans-serif;
margin:0;
background-color: #333;
font-family: cursive;

}
@font-face {
    font-family: 'graffiti';
    src: url(Fonts/graffiti_new/GraffitiNewDemoRegular.ttf) format('truetype');  
}

header{
background:#f5f5dc;
padding:2px;



}

.header-container{
    margin: 3px 15px;
    display: flex;
align-items: center;
justify-content: space-between;
text-align:center;
}

.navegacao a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-family: graffiti;
    font-size: large;
}
.navegacao a:hover{
    color: #f5f5dc;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.redesSociais a{
    margin: 0 10px;
    background-color: #333;
    color: #f5f5dc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    
}
.redesSociais a:hover{
       box-shadow: 0 2px 5px rgb(255, 255, 255);
  
}
.sobre{
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
    
}
.info{
    max-width: 400px;
    margin-right: 20px;
}

img{
    width: 250px;
    height: auto;
    border-radius: 100%;
    margin: 0px 20px;
}
h1{

   font-family: graffiti;
    text-align: center;
     text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.452);;
}
h2{
    color: #f5f5dc;
    text-align: center;
}
p{
    color: #f5f5dc;
    text-align: justify;
    
 
}



