    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    


    body{
       
        background-color: #000000;
        
        height: 100vh;
    }

    .interface{
       margin: 0 auto;
       max-width: 1280px;
    }

/* Estolo cabecalio */


header{
    background-color: #000000;
    
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    color: #aa9c9c;
    text-decoration: none;
display: inline-block;
   
}
header a:hover{
    color: #ffffff;
    text-decoration: none;
    transform:scale(1.05) ;

   
}
header nav ul{
    list-style: none;
   
}   

header nav ul li{
    display: inline-block;
    padding:  0 40px;
}   
header h1{
    
     color:rgb(0, 191, 255) ; 
    
}

header .btn-contato button{
    background-color: rgb(0, 191, 255);
    color: #ffffff;
   font-size: 20px;
   font-weight: 60px;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
  
}
header .btn-contato button:hover{
    background-color: white;
    color: rgb(0, 191, 255);
    box-shadow: 0 0 30px rgb(0, 191, 255);
  font-size: 20px;
   font-weight: 60px;
    padding: 10px 25px;
    transform:scale(1.05) ;
    transition: 1.0s ;
}